{% extends 'base.html' %} {% block content %} {% load humanize %}
<div class="container" >
  <h1 class="text-center">Batıhan Blog</h1>
  <div class="row row-cols-3 mt-5">
    {% for blog in blogs %}
    <div class="col">
      <div
        class="card1 shadow p-3 mb-5 bg-white rounded"
        style="width: 18rem; height: 30rem; box-shadow: 2px 5px 3px gray;  "
        
      >
        {% if blog.Image %}
        <img
          src="{{blog.Image.url}}"
          class="img-responsive"
          style="height: 150px"
          alt="post_image"
        />
        {% else %}
        <img src="../../../media/img/django.png" alt="default_image">
        {% endif %}
        <hr />
        <div class="card-body">
          <h5 class="card-title">
            <a style="text-decoration: none; color: darkgoldenrod;" href="{% url 'details' blog.id %}"
              >{{blog.Title}} <small>by {{blog.user}} </small> 
            </a>
          </h5>
          <div class="content" >
            <p class="card-text">{{blog.Content}}</p>
          </div>
           <span
            ><i class="bi bi-chat-left p-1" aria-hidden="true"></i>
            {{blog.comment_count}}
          </span>
          <span
            ><i class="bi bi-eye-fill p-1" aria-hidden="true"></i>
            {{blog.postview_count}}
          </span>
          <span
            ><i class="bi bi-heart p-1" aria-hidden="true"></i>{{blog.like_count}}
          </span>
        </small>
     
      </p>
          <p class="card-text">
            {% if blog.date == blog.date_update %}
            <small> Posted {{blog.date | naturaltime}}</small>
            {% else %}
            <small> Updated {{blog.date_update | naturaltime}}</small>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
