{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="p-3 mb-2 bg-light text-dark">
  <div class="mx-auto border" style="width: 80%; padding: 2%">
    <h2>Login</h2>

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %} {{form|crispy}}
      <button type="submit" class="btn btn-outline-info">Login</button>
      <a class="text-decoration-none" href="">Forgot Password?</a>
    </form>
    <hr />
    <p>
      Need an account?
      <a class="text-decoration-none" href="{% url 'register' %}"
        >Sign Up Now</a
      >
    </p>
  </div>
</div>

{% endblock content %}
